/*Header*/
.headerPrincipal .container{
    display: flex; /*Elementos al lado del otro*/
    align-items: center; /*Alineados en el medio verticalmente*/
    justify-content: space-between; /*Propiedad de flex. Separa los dos elementos de punta a punta*/
}

.headerPrincipal-nav{
    display: flex; /*Pone el nav en horizontal*/
    
}

/*Footer*/
.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list{
    display: flex;
    align-items: center;
    justify-content: space-around; /*Espacio de alrededor de los elementos*/
    width: 70%; /*Para ponerle espacop entre logo*/
    margin-right: 5%;
}

.rodapePrincipal-contatoForm{
    width: 25%; 
}

.rodapePrincipal-contatoForm-fieldset{
    display: flex; /*Ajusta el botón de ENVIAR*/
}

/*Mapa de cursos*/
.rodapePrincipal-navMap-list{
    display: flex;
    flex-direction: column; /*Elementos uno debajo del otro*/
    height: 250px; /*Tamaño de columna*/
    flex-wrap: wrap; /*Quiebra el contenido por cada 250px*/
}

/*Nuestros cursos*/
.contenidoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
}

.contenidoPrincipal-cursos-link{
    display: flex;
    width: 23%;
}

/*Video*/
.videoSobre .container{
    display: flex;
}

/*Responsive*/
@media (max-width:768px){
    .headerPrincipal .container{
        flex-direction: column; /*Elementos uno debajo del otro*/
        align-items: initial; /*Se posicionan al inicio*/
        text-align: center;
    }
    
    .headerPrincipal-nav{
        flex-direction: column;
    }
    
    .contenidoPrincipal-cursos{
        flex-direction: column;
    }
    
    .contenidoPrincipal-cursos-link{
        width: 100%;
    }
    
    .rodapePrincipal-navMap-list{
        height: auto; /*Altura por columna*/
        flex-wrap: nowrap;
    }
    
    .rodapePrincipal-patrocinadores .container{
        flex-direction: column;
    }
    
    .rodapePrincipal-contatoForm{
        width: 100%;
    }
    
    .rodapePrincipal-patrocinadores-list{
        align-items: center;
        width: 100%;
        margin: 0;
    }
    
    .rodapePrincipal-contatoForm-fieldset{
        justify-content: center;
    }
}


